@font-face {
    font-family: "pixelHeader";
    src: url(../fonts/pixelHeader.ttf);
}

@font-face {
    font-family: "pixelText";
    src: url(../fonts/pixelText.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100%;

    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    background-color: #D7D7D7;

    overflow: hidden;
}
body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: "pixelHeader";
}



header {
    width: 100%;
    height: 23%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
header div {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #E03830;
}

#titleBox {
    width: 100%;
    height: 60%;

    font-size: 50px;
}

#subtitleBox {
    height: 40%;
    width: 36%;

    margin-top: 0px;

    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;

    font-size: 30px;
}


main {
    height: 77%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

#contentDiv {
    transition: opacity 1s;
    background-color: #454344;
    opacity: 1;

    border-radius: 50px;
}

#swipeBox {
    position: absolute;
    bottom: 4%;

    height: 4%;
    width: 40%;

    background-color: rgba(0, 0, 0, 0.6);
    border: 5px solid #454344;
    border-radius: 50px;

    display: none;
    justify-content: center;
    align-items: center;
}
#swipeBox div {
    width: 100%;
    height: 100%;
}


footer {
    display: none;
    width: 100%;
    height: 10%;

    background-color: #E4E4E4;
    color: #454344;
    border-top: 5px solid #454344;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
footer div {
    text-align: center;
}
#footTitle {
    font-size: 25px;
}
#footSub {
    font-size: 20px;
}



@media only screen and (max-width: 1200px) {

    #subtitleBox {
        width: 40%;
    }
}

/* Mobile Version */
@media only screen and (max-width: 850px) {

    header {
        height: 10%;
    }
    #titleBox {
        height: 100%;
        border-bottom: 5px solid #454344;
    }

    main {
        height: 80%;
    }
    #contentDiv {
        height: 60%;
        width: 70%;
        border: 5px solid #454344;
    }
    #contentDiv, #selectorBox {
        border-radius: 50px;
    }

    #subtitleBox {
        display: none;
    }

    #swipeBox {
        display: flex;
    }

    footer {
        display: flex;
    }
}

@media only screen and (max-width: 500px) {
    
    #titleBox {
        font-size: 8vw;
    }

    #footTitle {
        font-size: 6vw;
    }
    #footSub {
        font-size: 4vw;
    }
}